@import '_variables.scss';
@import '_desktop.scss';

body{
    margin:0;
    padding:0;   
    font-size: 18px;
    font-family: Barlow, Arial, Sans-Serif; 
    width: 375px;
    .main{     
        margin: 0;
        padding: 0; 
        display: grid;
        width: 100%;
        grid-template-areas: 
            'headersun'
            'articlesun'
            'asidesun'
            'testimonialssun'
            'footersun';
        .header{ 
            grid-area: headersun;  
            margin: 0;
            padding:0;   
            width: 100%;    
            height: 1075px;                     
            background-image: url('./images/mobile/image-header.jpg');                    
            display: grid;
            grid-template-rows: 30% 70%;
            grid-template-columns: 100%;
            grid-template-areas:                    
            'logobar' 
            'navbar';
            .header_logo{ 
                grid-area: logobar;  
                position: relative; 
                width: 30%; 
                padding: 60px 0 0 5%;    
                color: #fffbfb;                                           
            }   
            .header_nav{  
                grid-area: navbar; 
                display: grid;
                grid-template-rows: 20% 80%;
                grid-template-columns: 50% 50%;
                grid-template-areas: 
                    'hamburgerIcon inputCheck'
                    'navList navList';                                        
                .header_nav_hamburgerIcon{
                    grid-area: hamburgerIcon;
                    padding: 20px; 
                    width: 50px;
                    margin-top: -280px;
                    margin-left: 170%;
                    height: auto;                                                
                    background-color: hsl(200, 100%, 62%);
                    color: hsl(196, 100%, 73%);  
                }
                .header_nav_check{
                    grid-area: inputCheck;
                    width: 100px;
                    height: 100px; 
                    margin-left: 65%;    
                    margin-top: -78%;               
                    opacity: 0;
                    &:checked + .header_nav_list{                        
                        display: flex;                                                
                    }
                    &:checked + .header_nav_list + .header_nav_text{
                        display: none;
                    }
                }
                .header_nav_list{
                    display: none; 
                    flex-direction: column;
                    justify-content:center;     
                    align-items:center;                             
                    margin: -80px 6% 33% 10%;                                       
                    background-color: #fffbfb;
                    opacity: 1;                     
                    text-transform: capitalize;
                    text-align: center;
                    position: absolute;
                    top: 250px;
                    width: 170%;
                    height: 650px;
                    padding-top: 10px;  
                    .header_nav_list_link{
                        font-size: 2.5em;
                        list-style-type: none;                        
                        text-transform: capitalize;
                        .header_nav_list_link_a{
                                color: red;  
                            .header_nav_list_link_a_p{
                                
                            }
                        }                                              
                        &:nth-child(1){
                            .header_nav_list_link_a{
                                text-decoration: none;  
                                .header_nav_list_link_a_p{                                                                        
                                } 
                            }                                                      
                        }
                        &:nth-child(2){
                            .header_nav_list_link_a{
                                text-decoration: none;
                                .header_nav_list_link_a_p{                                    
                                }                         
                            }
                        }
                        &:nth-child(3){          
                            .header_nav_list_link_a{
                                text-decoration: none;
                                .header_nav_list_link_a_p{                                    
                                }                         
                            }
                        }
                        &:nth-child(4){                     
                            .header_nav_list_link_a{                                
                                text-decoration: none; 
                                &:hover > .header_nav_list_link_a_p{
                                    padding: 25px 30px 25px 30px;
                                    background-color: $yellow;
                                    border-radius: 50%;  

                                }                              
                                .header_nav_list_link_a_p{    
                                    text-transform: uppercase;                                     
                                }                         
                            }
                        }                        
                    }
                }
                .header_nav_text{
                    grid-area: navList;
                    font-family: Fraunces, Garamond, Serif;  
                    margin-top: -250px;                  
                    display: grid; 
                    grid-template-rows: 30% 70%;
                    grid-template-columns: 100%;                      
                    grid-template-areas: 
                        'slogan'
                        'arrow';                    
                    .header_nav_text_slogan{
                        grid-area: slogan;
                        text-transform: uppercase;
                        font-size: 5.5em;
                        color: white;  
                        text-align: center;  
                    }
                    .header_nav_text_arrow{
                        grid-area: arrow;                       
                        width: 10%;
                        height: auto;
                        padding-left: 48%; 
                        padding-top: 12%;                  
                        color: white; 
                    }
                }                
            }                    
        }
        .article{
            grid-area: articlesun;
            text-align: center;            
            color: hsl(219, 28%, 18%);            
            font-family: Fraunces, Garmond, Serif;     
            .article_section_image{                        
            }         
            .article_section_content{   
                padding-left: 10%;
                padding-right: 10%;              
                background-color: hsl(50, 60%, 98%);                 
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items:center;                                
                .article_section_content_title{                                      
                    font-size: 4em;
                    font-weight: bold;                                 
                }
                .article_section_content_text{                                                
                    color:hsl(249, 8%, 54%);
                    font-size: 2em;
                    margin-top: -30px;
                }
                .article_section_content_link{                                                     
                    font-weight: bold;
                    font-size: 2em;
                    text-transform: uppercase;
                    color: rgb(54, 52, 52);
                    margin-bottom: 50px;
                    text-decoration: none;                    
                    border-bottom: 10px solid lightyellow;
                    border-bottom-left-radius: 10%;
                    border-top-right-radius: 10%;
                    border-top-left-radius: 10%;
                    border-bottom-right-radius: 10%;                                                    
                }
            }
        }
        .aside{
            grid-area: asidesun;
            text-align: center;              
            font-family : Fraunces, Garamond, Serif;  
            color: $dark_blue;                   
            .aside_section{ 
                height: 1200px;
                margin-top: -60px; 
                padding-left: 5%;
                padding-right:5%;                  
                &:nth-child(1){
                    background-image: url('./images/mobile/image-graphic-design.jpg');                   
                }
                &:nth-child(2){
                    background-image: url('./images/mobile/image-photography.jpg');                   
                }
                .aside_section_title{ 
                    padding-top: 115%; 
                    font-size: 4em; 
                    font-weight: bold;                           
                }
                .aside_section_text{ 
                    font-size: 1.8em;  
                    margin-bottom: 30%; 
                    font-weight: bold;                       
                }                
            }
        }
        .asideTestimonials{            
            grid-area: testimonialssun;
            text-align: center; 
            background-color: hsl(26, 100%, 99%);               
            height: auto;
            padding-left: 10%;
                padding-right: 10%;       
            .asideTestimonials_title{
                font-size: 2.4em;
                text-transform: uppercase;
                padding-top: 30px;
            }
            .asideTestimonials_section{
                padding: 20px;
                &:last-child{
                    padding-bottom: 100px;
                }
                .asideTestimonials_section_image{
                    border-radius: 50%;                    
                }
                .asideTestimonials_section_text{

                }
                .asideTestimonials_section_name{
                    font-weight: bold;
                    text-transform: capitalize;
                    font-size: 1.4em;  
                }
                .asideTestimonials_section_function{
                    text-transform: capitalize; 
                    font-size: 1.1em;                              
                }
            }
        }
        .footer{
            grid-area: footersun;           
            background-color: $dark_moderate_cyan;                            
            .footer_images{ 
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr; 
                grid-template-areas: 
                    'milk oranges'
                    'cone sugar';                            
                #milk{
                    grid-area: milk;                                                  
                }
                #oranges{
                    grid-area: oranges;                                    
                }
                #cone{
                    grid-area: cone;                                          
                }
                #sugar{
                    grid-area: sugar;                                         
                }
            } 
            .footer_copyright{            
                text-align: center;
                height: 500px; 
                background-color: hsl(167, 44%, 70%); 
                padding-top: 100px;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-template-areas: 
                    'copyrightLogo'
                    'copyrightMenu'
                    'copyrightIconmenu';
                .footer_copyright_logo{ 
                    grid-area: copyrightLogo; 
                    margin-left: 36%;                  
                    color: $dark_desaturated_cyan;
                    width: 30%;
                    height: auto;
                }
                .footer_copyright_menu{   
                    grid-area: copyrightMenu; 
                    margin-top: -50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;          
                    .footer_copyright_menu_link{
                        color: $dark_desaturated_cyan;
                        text-decoration: none; 
                        text-transform: capitalize;                       
                    }
                }
                .footer_copyright_iconmenu{  
                    grid-area: copyrightIconmenu;
                    padding-bottom: 200px; 
                    margin-top: -50px;                                
                    .footer_copyright_inconmenu_icon{
                        &:nth-child(1){                           
                        }
                        &:nth-child(2){                           
                        }
                        &:nth-child(3){                            
                        }
                        &:nth-child(4){                            
                        }
                    }
                }
            }
        } 
    }
}
@media only screen and (min-width:376px) and (max-width:1600px){
    body{
        width: 1440px;
        height: auto;       
        .main{
            width: 100%;
            height: auto;
            .header{                
                width: 100%;
                
                background-image: url('./images/desktop/image-header.jpg');
                background-size: 100%  auto;
                height: 800px;
                grid-template-rows: 100%;
                grid-template-columns: 30% 70%;
                grid-template-areas: 
                    'logobar navbar';              
                .header_logo{
                    width: 65%;
                    margin-left: 8%;
                }
                .header_nav{
                    display: flex;
                    flex-direction: column-reverse;
                    .header_nav_hamburgerIcon{
                        display: none;
                    }
                    .header_nav_check{ 
                        display: none;                       
                    }
                    .header_nav_list{
                        width: 60%;                        
                        background-color: transparent; 
                        display: flex;
                        flex-direction: row; 
                        justify-content: space-between;
                        margin-top: -500px;
                        margin-left: 2%;

                        .header_nav_list_link {                                 
                            .header_nav_list_link_a{                                
                                .header_nav_list_link_a_p{
                                    color: white;          
                                }
                            }
                        }
                    }
                    .header_nav_text{                        
                        margin-left: -45%;
                       
                        .header_nav_text_slogan{
                            margin-left: 5%;
                        }
                        .header_nav_text_arrow{
                            width: 2%;
                            margin-left: 3.5%;
                        }
                    }
                }
            }
            .article{

            }
            .aside{

            }
            .asideTestimonials{

            }
            .footer{

            }
        }
    }
}

