/*--------------------Primary----------------------------*/
/*graphic design text*/
/*photography text*/
/*footer*/
/*--------------------Neutral----------------------------*/
/*-------------------BARLOW---------------------------------------*/
@font-face {
  font-family: "Barlow_Black";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_BlackItalic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_Bold";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_BoldItalic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_ExtraBold";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_ExtraBoldItalic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_ExtraLight";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_ExtraLightItalic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_Italic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_Light";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_LightItalic";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow_Medium";
  src: url("barlow.eot");
  src: url("./barlow/Barlow-Medium.ttf") format("truetype");
}
/*--------------FRAUNCES-----------------------------------------------------------------------------*/
@font-face {
  font-family: "Fraunces_Italic";
  src: url("fraunces.eot");
  src: url("./fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces_Regular";
  src: url("fraunces.eot");
  src: url("./fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Barlow_Medium, Arial, Sans-Serif;
  width: 375px;
}
body .main {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-areas: "headersun" "articlesun" "asidesun" "testimonialssun" "footersun";
}
body .main .header {
  grid-area: headersun;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1075px;
  background-image: url("./images/mobile/image-header.jpg");
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  grid-template-areas: "logobar" "navbar";
}
body .main .header .header_logo {
  grid-area: logobar;
  position: relative;
  width: 30%;
  padding: 60px 0 0 5%;
  color: #fffbfb;
}
body .main .header .header_nav {
  grid-area: navbar;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "hamburgerIcon inputCheck" "navList navList";
}
body .main .header .header_nav .header_nav_hamburgerIcon {
  grid-area: hamburgerIcon;
  padding: 20px;
  width: 50px;
  margin-top: -280px;
  margin-left: 170%;
  height: auto;
  background-color: #3dbeff;
  color: #75daff;
}
body .main .header .header_nav .header_nav_check {
  grid-area: inputCheck;
  width: 100px;
  height: 100px;
  margin-left: 65%;
  margin-top: -78%;
  opacity: 0;
}
body .main .header .header_nav .header_nav_check:checked + .header_nav_list {
  display: flex;
}
body .main .header .header_nav .header_nav_check:checked + .header_nav_list + .header_nav_text {
  display: none;
}
body .main .header .header_nav .header_nav_list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -80px 6% 33% 10%;
  background-color: #fffbfb;
  opacity: 1;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 250px;
  width: 170%;
  height: 650px;
  padding-top: 10px;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link {
  font-size: 2.5em;
  list-style-type: none;
  text-transform: capitalize;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a {
  color: red;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(1) .header_nav_list_link_a {
  text-decoration: none;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(2) .header_nav_list_link_a {
  text-decoration: none;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(3) .header_nav_list_link_a {
  text-decoration: none;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(4) .header_nav_list_link_a {
  text-decoration: none;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(4) .header_nav_list_link_a:hover > .header_nav_list_link_a_p {
  padding: 25px 30px 25px 30px;
  background-color: #fad400;
  border-radius: 50%;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link:nth-child(4) .header_nav_list_link_a .header_nav_list_link_a_p {
  text-transform: uppercase;
}
body .main .header .header_nav .header_nav_text {
  grid-area: navList;
  margin-top: -250px;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  grid-template-areas: "slogan" "arrow";
}
body .main .header .header_nav .header_nav_text .header_nav_text_slogan {
  grid-area: slogan;
  text-transform: uppercase;
  transform: scaleY(0.8);
  letter-spacing: 20px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 4em;
  color: white;
  text-align: center;
}
body .main .header .header_nav .header_nav_text .header_nav_text_arrow {
  grid-area: arrow;
  width: 10%;
  height: auto;
  padding-left: 48%;
  padding-top: 12%;
  color: white;
}
body .main .article {
  grid-area: articlesun;
  text-align: center;
  color: #212a3b;
}
body .main .article .article_section .article_section_desktopImage {
  display: none;
}
body .main .article .article_section .article_section_content {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fdfcf7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .main .article .article_section .article_section_content .article_section_content_title {
  font-family: Fraunces_Regular, Garamond, serif;
  font-size: 4em;
  font-weight: bold;
}
body .main .article .article_section .article_section_content .article_section_content_text {
  color: #838093;
  font-size: 2em;
}
body .main .article .article_section .article_section_content .article_section_content_link {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  color: #363434;
  margin-bottom: 50px;
  text-decoration: none;
  border-bottom: 10px solid lightyellow;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
body .main .aside {
  grid-area: asidesun;
  text-align: center;
  color: #19536b;
}
body .main .aside .aside_section {
  height: 1200px;
  margin-top: -60px;
  padding-left: 5%;
  padding-right: 5%;
}
body .main .aside .aside_section:nth-child(1) {
  background-image: url("./images/mobile/image-graphic-design.jpg");
}
body .main .aside .aside_section:nth-child(2) {
  background-image: url("./images/mobile/image-photography.jpg");
}
body .main .aside .aside_section .aside_section_title {
  padding-top: 115%;
  font-size: 4em;
  font-weight: bold;
  font-family: Fraunces_Regular, "Garamond", serif;
}
body .main .aside .aside_section .aside_section_text {
  font-size: 1.8em;
  font-family: Barlow_Black, Arial, sans-serif;
  font-weight: bold;
}
body .main .asideTestimonials {
  grid-area: testimonialssun;
  text-align: center;
  background-color: #fffcfa;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}
body .main .asideTestimonials .asideTestimonials_title {
  font-size: 2.4em;
  text-transform: uppercase;
  padding-top: 30px;
}
body .main .asideTestimonials .asideTestimonials_section {
  padding: 20px;
}
body .main .asideTestimonials .asideTestimonials_section:last-child {
  padding-bottom: 100px;
}
body .main .asideTestimonials .asideTestimonials_section .asideTestimonials_section_image {
  border-radius: 50%;
}
body .main .asideTestimonials .asideTestimonials_section .asideTestimonials_section_name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.4em;
}
body .main .asideTestimonials .asideTestimonials_section .asideTestimonials_section_function {
  text-transform: capitalize;
  font-size: 1.1em;
}
body .main .footer {
  grid-area: footersun;
  background-color: #458c7e;
}
body .main .footer .footer_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "milk oranges" "cone sugar";
}
body .main .footer .footer_images:first-child {
  grid-area: milk;
}
body .main .footer .footer_images:nth-child(2) {
  grid-area: oranges;
}
body .main .footer .footer_images:nth-child(3) {
  grid-area: cone;
}
body .main .footer .footer_images:last-child {
  grid-area: sugar;
}
body .main .footer .footer_imagesDesktop {
  display: none;
}
body .main .footer .footer_copyright {
  text-align: center;
  height: 500px;
  background-color: #91d4c6;
  padding-top: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "copyrightLogo" "copyrightMenu" "copyrightIconmenu";
}
body .main .footer .footer_copyright .footer_copyright_logo {
  grid-area: copyrightLogo;
  margin-left: 36%;
  color: #25564b;
  width: 30%;
  height: auto;
}
body .main .footer .footer_copyright .footer_copyright_menu {
  grid-area: copyrightMenu;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .main .footer .footer_copyright .footer_copyright_menu .footer_copyright_menu_link {
  color: #25564b;
  text-decoration: none;
  text-transform: capitalize;
}
body .main .footer .footer_copyright .footer_copyright_iconmenu {
  grid-area: copyrightIconmenu;
  padding-bottom: 200px;
  margin-top: -50px;
}
@media only screen and (min-width: 376px) and (max-width: 1600px) {
  body {
    width: 1440px;
    height: auto;
  }
  body .main {
    width: 100%;
    height: auto;
  }
  body .main .header {
    width: 100%;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: 100% auto;
    height: 800px;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
    grid-template-areas: "logobar navbar";
  }
  body .main .header .header_logo {
    width: 65%;
    margin-left: 8%;
  }
  body .main .header .header_nav {
    display: flex;
    flex-direction: column-reverse;
  }
  body .main .header .header_nav .header_nav_hamburgerIcon {
    display: none;
  }
  body .main .header .header_nav .header_nav_check {
    display: none;
  }
  body .main .header .header_nav .header_nav_list {
    width: 60%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -500px;
    margin-left: 0%;
  }
  body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a .header_nav_list_link_a_p {
    color: white;
  }
  body .main .header .header_nav .header_nav_text {
    position: relative;
    top: -400px;
    left: -250px;
  }
  body .main .header .header_nav .header_nav_text .header_nav_text_slogan {
    font-size: 3em;
    margin-left: 5%;
    margin-bottom: -70px;
  }
  body .main .header .header_nav .header_nav_text .header_nav_text_arrow {
    padding-top: -300px;
    width: 2%;
    margin-left: 3.5%;
  }
  body .main .article .article_section {
    display: flex;
    flex-direction: row;
  }
  body .main .article .article_section .article_section_image {
    display: none;
  }
  body .main .article .article_section .article_section_desktopImage {
    display: inline-block;
  }
  body .main .article .article_section .article_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .main .article .article_section .article_section_content .article_section_content_title {
    font-size: 2em;
    position: relative;
    margin: 0;
    padding: 0;
    top: -50px;
    text-align: left;
  }
  body .main .article .article_section .article_section_content #articleTitle1 {
    position: relative;
    left: -38px;
  }
  body .main .article .article_section .article_section_content .article_section_content_text {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    top: 0px;
  }
  body .main .article .article_section .article_section_content .article_section_content_link {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    position: relative;
    left: -34%;
    bottom: -50px;
  }
  body .main .article .article_section:last-child {
    flex-direction: row-reverse;
  }
  body .main .aside {
    display: flex;
    flex-direction: row;
    height: 540px;
    margin: 0;
    padding: 0;
  }
  body .main .aside .aside_section {
    margin: 0;
    padding: 350px 10% 50px 10%;
  }
  body .main .aside .aside_section:first-child {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    width: 100%;
  }
  body .main .aside .aside_section:last-child {
    background-image: url("./images/desktop/image-photography.jpg");
    width: 100%;
  }
  body .main .aside .aside_section .aside_section_title {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 1.7em;
  }
  body .main .aside .aside_section .aside_section_text {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }
  body .main .asideTestimonials {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "testimonialTitle testimonialTitle testimonialTitle" "testimonialSection1 testimonialSection2 testimonialSection3";
  }
  body .main .asideTestimonials .asideTestimonials_title {
    font-family: Fraunces_Regular, Garamond, serif;
    grid-area: testimonialTitle;
    color: #5a636c;
  }
  body .main .asideTestimonials .asideTestimonials_section {
    color: #5a636c;
  }
  body .main .asideTestimonials .asideTestimonials_section:first-child {
    grid-area: testimonialSection1;
  }
  body .main .asideTestimonials .asideTestimonials_section:nth-child(2) {
    grid-area: testimonialSection2;
  }
  body .main .asideTestimonials .asideTestimonials_section:last-child {
    grid-area: testimonialSection3;
  }
  body .main .asideTestimonials .asideTestimonials_section .asideTestimonials_section_name {
    font-family: Fraunces_Regular, Garamond, serif;
  }
  body .main .footer {
    width: 1440px;
  }
  body .main .footer .footer_images {
    display: none;
  }
  body .main .footer .footer_imagesDesktop {
    display: flex;
    width: 1440px;
    flex-direction: row;
  }
  body .main .footer .footer_imagesDesktop .footer_imagesDesktop_img {
    width: 25%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
