@import '_variables.scss';

body{
    margin:0;
    padding:0;   
    font-size: 18px;
    font-family: Barlow, Arial, Sans-Serif; 
    width: 375px;
    .main{     
        margin: 0;
        padding: 0; 
        display: grid;
        grid-template-areas: 
            'headersun'
            'articlesun'
            'asidesun'
            'testimonialssun'
            'footersun';
        .header{ 
            grid-area: headersun;  
            margin: 0;
            padding:0;   
            width: 100%;    
            height: 1075px;                     
            background-image: url('./images/mobile/image-header.jpg');                    
            display: grid;
            grid-template-rows: 10% 90%;
            grid-template-columns: 100%;
            grid-template-areas:                    
            'logo' 
            'navbar';
            .header_logo{ 
                grid-area: logo;  
                position: relative; 
                width: 30%; 
                padding: 60px 0 0 7%;    
                color: #fffbfb;                                           
            }   
            .header_nav{  
                grid-area: navbar; 
                display: grid;
                grid-template-rows: 20% 80%;
                grid-template-columns: 50% 50%;
                grid-template-areas: 
                    'hamburgerIcon inputCheck'
                    'navList navList';                        
                .header_nav_hamburgerIcon{
                    grid-area: hamburgerIcon;
                    padding: 20px; 
                    width: 50px;
                    height: auto;
                    margin-left: 168%; 
                    margin-top: -17%;                                  
                    background-color: hsl(200, 100%, 62%);
                    color: hsl(196, 100%, 73%);  
                }
                .header_nav_check{
                    grid-area: inputCheck;
                    width: 100px;
                    height: 100px; 
                    margin-left: 60%;    
                    margin-top: -13%;               
                    opacity: 0;
                    &:checked + .header_nav_list{
                        display: grid;
                        grid-area: navList;
                    }
                    &:checked + .header_nav_list + .header_nav_text{
                        display: none;
                    }
                }
                .header_nav_list{
                    display: none;                   
                    margin: -70px 6% 30% 6%;
                    grid-template-rows: 25% 25% 25% 25%;
                    grid-template-columns: 100%;
                    grid-template-areas:
                        'about'
                        'services' 
                        'projects'
                        'contact';                           
                    background-color: #fffbfb;
                    opacity: 1;
                    color: $very_dark_grayish_blue;  
                    text-transform: capitalize;
                    text-align: center;
                    .header_nav_list_link{
                        font-size: 2.5em;
                        list-style-type: none;                        
                        text-transform: capitalize; 
                        &:nth-child(1){
                            grid-area: 'about'; 
                            .header_nav_list_link_a{
                                text-decoration: none;                                
                                .header_nav_list_link_a_p{                                    
                                }                         
                            }                           
                        }
                        &:nth-child(2){
                            grid-area: 'services';                            
                            .header_nav_list_link_a{
                                text-decoration: none;
                                .header_nav_list_link_a_p{                                    
                                }                         
                            }
                        }
                        &:nth-child(3){
                            grid-area: 'projects';                         
                            .header_nav_list_link_a{
                                text-decoration: none;
                                .header_nav_list_link_a_p{                                    
                                }                         
                            }
                        }
                        &:nth-child(4){
                            grid-area: 'contact';
                            .header_nav_list_link_a{
                                text-decoration: none;
                                .header_nav_list_link_a_p{    
                                    text-transform: uppercase;                                
                                }                         
                            }
                        }                        
                    }
                }
                .header_nav_text{
                    grid-area: navList;
                    font-family: Fraunces, Garamond, Serif;                    
                    display: grid; 
                    grid-template-rows: 30% 70%;
                    grid-template-columns: 100%;                      
                    grid-template-areas: 
                        'slogan'
                        'arrow';
                    margin-top: -170px;
                    .header_nav_text_slogan{
                        grid-area: slogan;
                        stroke: 1px solid red;
                        text-transform: uppercase;
                        font-size: 4em;
                        color: white;  
                        text-align: center;  
                    }
                    .header_nav_text_arrow{
                        grid-area: arrow;                       
                        width: 20%;
                        height: auto;
                        padding-left: 42.5%; 
                        padding-top: 10%;                  
                        color: white; 
                    }
                }                
            }                    
        }
        .article{
            grid-area: articlesun;
            text-align: center;            
            color: hsl(219, 28%, 18%);            
            font-family: Fraunces, Garmond, Serif;             
            .article_section_image{                        
            }         
            .article_section_content{   
                padding: 20px;        
                background-color: #fffbfb;                                   
                .article_section_content_title{                                      
                    font-size: 1.8em;
                    font-weight: bold;                                 
                }
                .article_section_content_text{                                                
                    color:hsl(249, 8%, 54%);
                }
                .article_section_content_link{                                                     
                    font-weight: bold;
                    text-transform: uppercase;
                    color: rgb(54, 52, 52);
                    text-decoration: none;                    
                    border-bottom: 10px solid lightyellow;
                    border-bottom-left-radius: 10%;
                    border-top-right-radius: 10%;
                    border-top-left-radius: 10%;
                    border-bottom-right-radius: 10%;                                                    
                }
            }
        }
        .aside{
            grid-area: asidesun;
            text-align: center;              
            font-family : Fraunces, Garamond, Serif;  
            color: $dark-blue;                   
            .aside_section{                    
                &:nth-child(1){
                    background-image: url('./images/mobile/image-graphic-design.jpg');                   
                }
                &:nth-child(2){
                    background-image: url('./images/mobile/image-photography.jpg');                   
                }
                .aside_section_title{                              
                }
                .aside_section_text{                           
                }                
            }
        }
        .asideTestimonials{            
            grid-area: testimonialssun;
            text-align: center; 
            background-color: pink;   
              
            height: auto;     
            .asideTestimonials_title{
                
            }
            .asideTestimonials_section{
                
                .asideTestimonials_section_image{
                    border-radius: 50%;
                }
                .asideTestimonials_section_text{

                }
                .asideTestimonials_section_name{

                }
                .asideTestimonials_section_function{

                }
            }
        }
        .footer{
            grid-area: footersun;           
            background-color: $dark-moderate-cyan;                   
            .footer_images{ 
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr; 
                grid-template-areas: 
                    'milk oranges'
                    'cone sugar';                            
                #milk{
                    grid-area: milk;                                                  
                }
                #oranges{
                    grid-area: oranges;                                    
                }
                #cone{
                    grid-area: cone;                                          
                }
                #sugar{
                    grid-area: sugar;                                         
                }
            } 
            .footer_copyright{            
                text-align: center;
                .footer_copyright_logo{                    
                    
                }
                .footer_copyright_menu{              
                    .footer_copyright_menu_link{
                        text-decoration: none;
                        color: lightgreen;
                    }
                }
                .footer_copyright_iconmenu{                    
                    .footer_copyright_inconmenu_icon{
                        &:nth-child(1){
                           
                        }
                        &:nth-child(2){
                           
                        }
                        &:nth-child(3){
                            
                        }
                        &:nth-child(4){
                            
                        }
                    }
                }
            }
        } 
    }
}