/*--------------------Primary----------------------------*/
/*graphic design text*/
/*photography text*/
/*footer*/
/*--------------------Neutral----------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Barlow, Arial, Sans-Serif;
  width: 375px;
}
body .main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "headersun" "articlesun" "asidesun" "testimonialssun" "footersun";
}
body .main .header {
  grid-area: headersun;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1075px;
  background-image: url("./images/mobile/image-header.jpg");
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "logosun navsun" "slogansun slogansun";
}
body .main .header .header_logo {
  grid-area: logosun;
  width: 200px;
  color: white;
}
body .main .header .header_nav {
  grid-area: navsun;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "hamburgerIcon inputCheck" "navList navList";
}
body .main .header .header_nav .header_nav_hamburgerIcon {
  grid-area: hamburgerIcon;
  padding: 20px;
  width: 100px;
  height: 100px;
  margin-left: 120%;
  background-color: #3dbeff;
  color: #75daff;
}
body .main .header .header_nav .header_nav_check {
  grid-area: inputCheck;
  width: 125px;
  height: 125px;
  margin-left: 30%;
  opacity: 0;
}
body .main .header .header_nav .header_nav_check:checked + .header_nav_list {
  display: grid;
}
body .main .header .header_nav .header_nav_list {
  grid-area: navList;
  display: none;
  margin-left: 0;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 100%;
  grid-template-areas: "about" "services" "projects" "contact";
  background-color: white;
  opacity: 0.5;
  color: #a7abae;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link {
  font-size: 2.5em;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a {
  text-decoration: none;
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a:nth-child(1) {
  grid-area: "about";
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a:nth-child(2) {
  grid-area: "services";
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a:nth-child(3) {
  grid-area: "projects";
}
body .main .header .header_nav .header_nav_list .header_nav_list_link .header_nav_list_link_a:nth-child(4) {
  grid-area: "contact";
}
body .main .header .header_text {
  grid-area: slogansun;
  font-family: Fraunces, Garamond, Serif;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  grid-template-areas: "slogan" "arrow";
}
body .main .header .header_text .header_text_slogan {
  grid-area: slogan;
  stroke: 1px solid red;
  text-transform: uppercase;
  font-size: 4em;
  color: white;
  text-align: center;
}
body .main .header .header_text .header_text_arrow {
  grid-area: arrow;
  position: absolute;
  left: 50%;
  color: white;
}
body .main .article {
  grid-area: articlesun;
  text-align: center;
  color: #212a3b;
  font-family: Fraunces, Garmond, Serif;
}
body .main .article .article_section_content {
  padding: 20px;
  background-color: #fffbfb;
}
body .main .article .article_section_content .article_section_content_title {
  font-size: 1.8em;
  font-weight: bold;
}
body .main .article .article_section_content .article_section_content_text {
  color: #838093;
}
body .main .article .article_section_content .article_section_content_link {
  font-weight: bold;
  text-transform: uppercase;
  color: #363434;
  text-decoration: none;
  border-bottom: 10px solid lightyellow;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
body .main .aside {
  grid-area: asidesun;
  text-align: center;
  font-family: Fraunces, Garamond, Serif;
  color: #19536b;
}
body .main .aside .aside_section:nth-child(1) {
  background-image: url("./images/mobile/image-graphic-design.jpg");
}
body .main .aside .aside_section:nth-child(2) {
  background-image: url("./images/mobile/image-photography.jpg");
}
body .main .asideTestimonials {
  grid-area: testimonialssun;
  text-align: center;
  background-color: pink;
  height: auto;
}
body .main .asideTestimonials .asideTestimonials_section .asideTestimonials_section_image {
  border-radius: 50%;
}
body .main .footer {
  grid-area: footersun;
  background-color: #458c7e;
}
body .main .footer .footer_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "milk oranges" "cone sugar";
}
body .main .footer .footer_images #milk {
  grid-area: milk;
}
body .main .footer .footer_images #oranges {
  grid-area: oranges;
}
body .main .footer .footer_images #cone {
  grid-area: cone;
}
body .main .footer .footer_images #sugar {
  grid-area: sugar;
}
body .main .footer .footer_copyright {
  text-align: center;
}
body .main .footer .footer_copyright .footer_copyright_menu .footer_copyright_menu_link {
  text-decoration: none;
  color: lightgreen;
}

/*# sourceMappingURL=style.css.map */
